body{
    font-family: arial, helvetica;
    background: #0f606b;
}

.menu{
    list-style: none;
    padding: 0;
    background: #c2d6e0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: #0f606b;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align:center;
}

.menu li a:hover{
    background: #c2d6e0
}