body{
    font-family: arial, helvetica;
    background: rgb(255, 255, 255);
}

.menu{
    list-style: none;
    padding: 4;
    background: #0a2418;
    width: 100%;
    max-width: 1880px;
    margin: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.menu li a{
    text-decoration: none;
    color: gray;
    padding: 10px;
    display: block;
    font-size: large;
}

.menu li{
    display: inline-block;
    text-align: start;
}

.menu li a:hover{
    background: #228b7d;
    color: #ffffff;
}
.menu li b{
    text-decoration: double;
    color: #ffffff;
    padding: 10px;
    display: block;
    background-color: rgb(21, 100, 96);
    height: 41px;
    font-size: Larger;
}

.menu li{
    display: inline-block;
    text-align: start;
}

.class{
    padding: 1;
    margin: auto;
    background-color:rgb(36, 94, 91);
    width: 100%;
    height: 15px;
    list-style: none;
}
.class li a{
    display: block;
    color: #ffffff;
    text-decoration: darkgrey;
    padding: 10px;
}
.class li{
    display: inline-block;
    text-align: center all;
}
.class li a :hover{
    background: gold;
    color: white;
}
.lol{
    padding: 1;
    margin: auto;
    background-color: rgb(21, 100, 96);
    width: 100%;
    height: 55px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lol li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 18px;
    font-size: medium;
}
.lol li{
    display: inline-block;
    text-align: center all;
}
.lol li a:hover{
    background: rgb(47, 88, 78);
    color: white;
}
.Content{
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(26, 124, 128);
    text-align: center;
}
.Content h2{
    color: #0a2418;
    font-weight: 100;
}
.Paragraph{
    display: flex;
    background: rgb(255, 255, 255);
    text-align: justify;
    color: #0a2418;
}
.info{
    display:block;
    align-items: left;
    justify-content: center;
    border: 5px solid white;
    background-color: #ffffff;
}
.info{
    display: block;
    background-color: #0a2418;
    color: #ffffff;
    font-size: small;
    text-align: justify;
    width: 900px;
    height: 650px;
    text-size-adjust: 200px;
}
.info h1{
    color: #ffffff;
    text-align: justify;
}
.info li{
    font-size: medium;
    display: flex;
}
.info p{
    font-size: medium;
}
.block{
    display: block;
    background-color: #0a2418;
}
.block{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    margin: auto;
    list-style: none;
    text-decoration: none;
}
.block li b{
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    color: white;
}
.text{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    width: 450px;
    height: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}