a {
    display: block;
    width: 67px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 120px 130px;
    padding: 12px 30px;
    background-color: #c2d6e0;
    color: rgb(62, 160, 152);
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    border: 2px solid white;
    color:azure
}