body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(rgb(255, 255, 255), #C2D6E0, #0e6a74);
    justify-content: center;
    align-items: center;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
    overflow: hidden;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.navigation-manual{
    display: none;
}
.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: rgb(255, 255, 255);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: 20%;
}
#radio3:checked ~ .first{
    margin-left: 40%;
}
#radio4:checked ~ .first{
    margin-left: 60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div::not(:last-child){
    margin-right: 40px; 
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #0e6a74;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #0e6a74;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #0e6a74;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #0e6a74;
}